    <%= stylesheet_link_tag "shared/cyborg" %>
   <%= stylesheet_link_tag "shared/cover" %>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">One Simple page with a call to action can be all you need</p>
        <p class="lead">
          <a href="/carousel" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>
    </div>