
<% images = get_images 'cover'   %>
<% image = images.find_by sequence: '1' %>
<% if image != nil %>
 <style>
  body { 
    background: url('<%= url_for(image.image)%>') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% x 100%;
  }
  </style>
  <% end %>
  </head>
<body align="center">
<h1>Welcome to</h1>
<h2><%= ENV['SITE_TITLE'] %></h2>
<p>Enjoy my Portfolio</p>
<p><%= link_to "Enjoy", "#" %></p>

  <% if user_signed_in? %>
    <a href="/users" >User Pages</a>
  <% end %>
<% if admin_user_signed_in? %>
  <a href="/admin">Admin Pages</a>
<% end %>
<p class="float-left"><%= ENV['SITE_TITLE'] %> &copy; 2018</p>
