

<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Damon Hopkins Web Developer</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="dIis8OaALUiD+7Jv2K1yCf8d7YpJGP6JtqDyxrOwXnGcccRA0ewPBTvNj6y4kM65oyH4nuL4ArJReD8iab0W+A==" />
    


    <link rel="stylesheet" media="screen" href="/assets/lux-46ba401c09becb615156689583239fdc5a6a2c033f0af27f4453b5fcc721e060.css" />
    <link rel="stylesheet" media="screen" href="/assets/bootstrap/bootstrap-34a44329379bba4395d1877b1cb36a4ec543afb942246e2f218d14a423617fc6.css" />
    <link rel="stylesheet" media="screen" href="" />
 

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KQGLBH7');</script>
<!-- End Google Tag Manager -->


     <link rel="stylesheet" media="screen" href="/assets/pricing-50ef3b569a70d1f28d856d31b703f85c3747b1dea5689ad57154957db4f502df.css" />
 </head>

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQGLBH7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Menu</h4>
              <a class="text-white" href="/">Home</a><br>
              <a class="text-white" href="/tech_stack">Dynamic Websites</a><br>
              <a class="text-white" href="/features"> Back to Simple Web Apps and Information</a><br>
              <p class="text-muted">  </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/damonhopkins" class="text-white">Linked-In</a></li>
                <li><a href="https://www.github.com/oxygen545" class="text-white">Github</a></li>
                <li><a href="/contact" class="text-white">Send a Message</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/static_pages" class="navbar-brand d-flex align-items-center">
            <strong>Static Application Pricing and Information</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">More &raquo;&nbsp;<span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Basic Website Pricing</h1>
      <p class="lead">A simple and effective pricing table for you to see the options and choose a plan.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Basic</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$150 <small class="text-muted">+$25/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Landing and Content pages with outbound links to social media or ecommerce locations</li>
              <li>Cloud Storage and hosting options depending on your needs</li>
              <li>Mailing Lists and Customer Feedback Messaging included</li>
              <li>Priority Email Support</li>
              <li>Administrative Dashboard Access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Basic</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$400 <small class="text-muted">+25/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Basic Site plus Blog</li>
              <li>Everything included in the Basic package</li>
              <li> Also - User Profiles, Comments, and a Blog for Announcements or Articles</li>
              <li>Priority Email support and Voicemail Support</li>
              <li>Administrative Dashboard Access</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Pro</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1000+up <small class="text-muted">+25-50/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Everything in the Pro and Basic packages included plus E-Commerce suite</li>
              <li>Full E-Commerce integration with Payment processing directly on your site</li>
              <li>Import your products or services from another location and host it here with full inventory and transaction tracking</li>
              <li>Priority Phone and Email support</li>
              <li>Help center access and Full Administrative Access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Enterprise</button>
          </div>
        </div>
      </div>
    <footer class="text-white">
      <div class="container">
        <p class="float-left">Damon Hopkins Web Developer &copy; 2018</p>
        </div>
    </footer>
    </div>
    <script>
//<![CDATA[
holder.min.js
//]]>
</script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>


        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/popper.min-4b1a78454d2a7c62e8b3c7cd5831c0165faf1f1593de603e9a1be49b22130b98.js"></script>
    <script src="/assets/bootstrap/bootstrap-9ac0408826d4ebe1cad40f57330760f5b128d6482574b6de0d32c5c747231e80.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics damonhopkins.herokuapp.com -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128630478-2"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128630478-2');
      </script>

  </body>
</html>
