</head>
<body align="center">
	<div class="container">
		<div class="card">
			<div class="card-title">
				<h1>Editing Item</h1>
			</div>
			<div class="card-body">
				<div class="card-text">
					<%= render 'form', item: @item %>
				</div>
				<p class="my-2">
					<%= link_to 'Show', @item , :class => "btn btn-sm btn-success" %>
					<%= link_to 'Back', items_path, :class => "btn btn-sm btn-secondary" %>
				</p>
			</div>
		</div>
	</div>
